/* These are gonna be generic styles for the whole site */

div.bordered {
	border: solid;
	border-style: thin;
	border-color: #c1c1c1;
	margin: 1% 0 0 0;
}

div.textbox {
	margin: 1%;
	padding: 0 1% 0 1%;
}

div.padding {
	margin: 0;
	height: 1px;
}

div.height-150 {
	height: 150px;
}

div.scroller {
	overflow: scroll;
}

a.non-link {
	color: black;
	text-decoration: none;
}

a.non-link:hover {
	text-decoration: underline;
}

ul.index {
	list-style-type: none;
}

ul.navlist li {
	list-style-type: none;
	display: inline;
	margin-right: 20px;
}

li.indeks-header {
	font-size: 18px;
	font-weight: bold;
}

p.small {
	font-size: 14px;
}

p.grey {
	color: #a0a0a0;
}

input {
	margin: 5px 0px 10px 0px; 
	padding: 5px;
}